@import "~@angular/flex-layout/mq";

.card {
  width: 70px;
  height: 80px;
  margin: 15px 5px;
  display: flex;
  background-color: rgb(145, 152, 176);
  box-shadow: 0px 13px rgb(91, 117, 155);
  color: rgb(43, 43, 43);
  border: none;
  border-radius: 5px;
}
.noCard {
  width: 70px;
  height: 80px;
  margin: 15px 5px;
  display: flex;
  background-color: rgb(25, 26, 31);
  box-shadow: 0px 13px rgb(25, 26, 31);
  color: rgb(43, 43, 43);
  border: none;
  border-radius: 5px;
}
.card-text {
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
  font-family: "Sniglet", cursive;
  font-weight: 600;
  font-size: 20px;
}
