.logo {
  margin: 10px 5px;
  padding-top: 20px;
  height: 80px;
  width: 155px;
}
.logo > h1 {
  font-family: "Fredoka One", cursive;
  letter-spacing: 5px;
  font-size: 32px;
}
.logo > h1:first-child {
  color: rgb(0, 136, 255);
}
.logo > h1:nth-child(2) {
  color: rgb(237, 77, 18);
}
.logo > h1:last-child {
  color: grey;
}
