<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <!-- <h2 *ngIf="finalScore"></h2> -->
  {{ keyPress }}

  <div class="bottomboard">
    <div class="board-shadow">
      <main class="board" fxLayout="row [wrap]" fxLayoutAlign="center center">
        <app-card
          *ngFor="let val of cards; let i = index"
          [value]="val"
        ></app-card>
      </main>
    </div>
  </div>

  <div class="new-game-btn-container">
    <button class="new-game-btn" (click)="newGame()">PLAY THREES</button>
  </div>
</div>
