.board {
}

.new-game-button {
  background-color: rgb(42, 37, 77);
  box-shadow: 0px 10px rgb(17, 15, 31);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1vw 3vw 1vw 3vw;
  font-size: 5vw;
  letter-spacing: 2px;
}
