@import "~@angular/flex-layout/mq";

.board-container {
  .board {
    width: 370px;
  }
  .new-game-btn-container {
    .new-game-btn {
      background-color: rgb(62, 55, 106);
      box-shadow: 0px 10px rgb(29, 26, 53);
      color: white;
      border: none;
      letter-spacing: 5px;
      text-align: center;
      font-family: "Fredoka One", cursive;
      border-radius: 5px;
      width: 350px;
      margin: 20px 0;
      padding: 10px;
      font-size: 38px;
      outline: none;
      cursor: pointer;
    }
  }
}
