@import "~@angular/flex-layout/mq";

.container {
  .board-shadow {
    border-radius: 15px;
    box-shadow: 0px -10px rgb(25, 26, 31);
  }
  .board {
    width: 330px;
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(62, 64, 79);
    box-shadow: 0px 13px rgb(62, 64, 79);
  }
  .new-game-btn-container {
    .new-game-btn {
      background-color: rgb(62, 55, 106);
      box-shadow: 0px 10px rgb(29, 26, 53);
      color: white;
      border: none;
      letter-spacing: 5px;
      text-align: center;
      font-family: "Fredoka One", cursive;
      border-radius: 10px;
      width: 330px;
      margin: 30px 0;
      padding: 10px;
      font-size: 36px;
      outline: none;
      cursor: pointer;
    }
  }
}
