/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Sniglet&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Fredoka One", cursive;
  background-color: rgb(48, 45, 65);
}
